/* You can add global styles to this file, and also import other style files */

/*@import "./styles/css/custom.css";*/

/*@import "./styles/flexbox/flexboxgrid.css";*/
@import "./styles/flexbox/index.css";

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~ngx-toastr/toastr';

body{
    margin: 0%;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
