<mat-list>
  <mat-list-item *ngFor="let message of messages; index as messageIndex">
    <mat-icon mat-list-icon>chat</mat-icon>
    <h4 mat-line>{{message.text}}</h4>
    <p mat-line> {{message.updated | date}} </p>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<br>

<form
  [formGroup]="createForm"
  (ngSubmit)="onSubmit()"
>

  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 example-container">
      <mat-form-field>
        <input
          matInput
          placeholder="Text"
          [formControl]="text"
          formControlName="text"
          required
        >
        <mat-error *ngIf="text.invalid">---</mat-error>
      </mat-form-field>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 example-container">
      <button
        color="primary"
        mat-raised-button
        type="submit"
        [disabled]="!createForm.valid"
      >
        CREATE
      </button>
    </div>
  </div>

</form>
