<mat-tab-group
	mat-stretch-tabs
	class="example-stretched-tabs mat-elevation-z1"
>
  <mat-tab label="ROOMS">
  	<mat-list>
		  <h3 mat-subheader>
		  	<button
		  		(click)="requestRooms()"
		  		mat-mini-fab
		  		aria-label="request room"
		  		color="primary"
		  		matTooltip="LOAD ALL ROOM"
		  	>
			    <mat-icon>autorenew</mat-icon>
			  </button>
			  <button
		  		(click)="ramdomRoomCreate()"
		  		mat-mini-fab
		  		aria-label="request room"
		  		color="primary"
		  		matTooltip="AUTO CREATE ROOM"
		  	>
			    <mat-icon>fiber_new</mat-icon>
			  </button>
			  <app-room-create></app-room-create>
			  &nbsp;&nbsp;
		  	Available Rooms
		  </h3>
<!-- 		  <mat-list-item *ngFor="let room of rooms">
		    <mat-icon mat-list-icon>chat</mat-icon>
		    <h4 mat-line>{{room.name}}</h4>
		    <p mat-line> {{room.updated | date}} </p>
		  </mat-list-item> -->
		</mat-list>
	  <table mat-table [dataSource]="rooms" class="mat-elevation-z0">

		  <!-- Position Column -->
		  <ng-container matColumnDef="id">
		    <th mat-header-cell *matHeaderCellDef> ID </th>
		    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
		  </ng-container>

		  <!-- Name Column -->
		  <ng-container matColumnDef="name">
		    <th mat-header-cell *matHeaderCellDef> NAME </th>
		    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
		  </ng-container>

		  <!-- Weight Column -->
		  <ng-container matColumnDef="updated">
		    <th mat-header-cell *matHeaderCellDef> UPDATED </th>
		    <td mat-cell *matCellDef="let element"> {{element.updated | date}} </td>
		  </ng-container>

		  <!-- Actions -->
		  <ng-container matColumnDef="action">
		    <th mat-header-cell *matHeaderCellDef> ACTION </th>
		    <td mat-cell *matCellDef="let element; let i = index">
		      <button
		        matTooltip="JOIN ROOM"
		        mat-button
		        color="primary"
		        (click)="joinRoom(element.id)"
		      >
		        <mat-icon>record_voice_over</mat-icon>
		      </button>
		      <button
		        matTooltip="DELETE ROOM"
		        mat-button
		        color="warn"
		        (click)="deleteRoom(element.id, i)"
		      >
		        <mat-icon>delete</mat-icon>
		      </button>
		    </td>
		  </ng-container>

		  <tr mat-header-row *matHeaderRowDef="roomdisplayedColumns"></tr>
		  <tr mat-row *matRowDef="let row; columns: roomdisplayedColumns;"></tr>
		</table>

  </mat-tab>
  <mat-tab label="MESSAGES">
  	<br>
  	<mat-list>
		  <h3 mat-subheader>
		  	<mat-form-field>
				  <mat-label>Room</mat-label>
				  <mat-select [(value)]="selected">
				    <mat-option
				    	*ngFor="let room of rooms; index as roomIndex"
				    	[value]="room.id"
				    >
				    	{{ room.name }} ({{ room.id }})
				    </mat-option>
				  </mat-select>
				</mat-form-field>
				&nbsp;
		  	<button
		  		(click)="requestMessages()"
		  		mat-mini-fab
		  		aria-label="request room"
		  		color="primary"
		  		matTooltip="LOAD ROOM MESSAGES"
		  	>
			    <mat-icon>autorenew</mat-icon>
			  </button>
		  </h3>
		</mat-list>
  	<table mat-table [dataSource]="messages" class="mat-elevation-z0">

		  <!-- Position Column -->
		  <ng-container matColumnDef="id">
		    <th mat-header-cell *matHeaderCellDef> ID </th>
		    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
		  </ng-container>

		  <!-- Name Column -->
		  <ng-container matColumnDef="text">
		    <th mat-header-cell *matHeaderCellDef> TEXT </th>
		    <td mat-cell *matCellDef="let element"> {{element.text}} </td>
		  </ng-container>

		  <!-- Weight Column -->
		  <ng-container matColumnDef="updated">
		    <th mat-header-cell *matHeaderCellDef> UPDATED </th>
		    <td mat-cell *matCellDef="let element"> {{element.updated | date}} </td>
		  </ng-container>

		  <ng-container matColumnDef="room_id">
		    <th mat-header-cell *matHeaderCellDef> ROOM </th>
		    <td mat-cell *matCellDef="let element"> {{element.room_id}} </td>
		  </ng-container>

		  <!-- Actions -->
		  <ng-container matColumnDef="action">
		    <th mat-header-cell *matHeaderCellDef> ACTION </th>
		    <td mat-cell *matCellDef="let element; let i = index">
		      <button
		        matTooltip="DELETE MESSAGE"
		        mat-button
		        color="warn"
		        (click)="deleteMessage(element.id, i)"
		      >
		        <mat-icon>delete</mat-icon>
		      </button>
		    </td>
		  </ng-container>

		  <tr mat-header-row *matHeaderRowDef="messagedisplayedColumns"></tr>
		  <tr mat-row *matRowDef="let row; columns: messagedisplayedColumns;"></tr>
		</table>
  </mat-tab>
</mat-tab-group>
